/* @import "./design.css"; */

.font-12 {
    font-size: 12px;
}
.font-weight-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}


.cusor-pointer {
    cursor: pointer;
}



.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.mr-10 {
    margin-right: 10px;
}

.mr-4 {
    margin-right: 4px;
}

.color-error {
    color: red;
}

