/* @import "./design.css"; */

.font-12 {
    font-size: 12px;
}


.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.mr-10 {
    margin-right: 10px;
}

.mr-4 {
    margin-right: 4px;
}

.color-error {
    color: red;
}

