/* @import "./design.css"; */

.font-12 {
    font-size: 12px;
}
.font-weight-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}


.cusor-pointer {
    cursor: pointer;
}



.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.mr-10 {
    margin-right: 10px;
}

.mr-4 {
    margin-right: 4px;
}

.color-error {
    color: red;
}


.dot-loading {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
  animation: pulse 1.2s ease-in-out infinite;
  margin: 0 4px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

